.chat-main
  .chat-main__group-info
    .top-items
      .top-items__left-item
        .top-items__left-item__group-name
          = @group.name
        %ul.top-items__left-item__menber-list
          Member:
          - @group.users.each do |user|
            = user.name
      = link_to "/groups/#{@group.id}/edit", class: 'top-items__edit-btn' do
        Edit
  .chat-main__message-list
    .message-boxes
      .message-box
        .message-box__top-items
          .message-box__top-items__name
            snskOgata
          .message-box__top-items__date
            2019/12/30(Mon) 16:30:00
        .message-box__message
          疲れるけどたのしい
      .message-box
        .message-box__top-items
          .message-box__top-items__name
            snskOgata
          .message-box__top-items__date
            2019/12/30(Mon) 16:30:00
        .message-box__message
          もう少しだけ頑張る
  .chat-main__message-form
    = form_for [@group, @message] do |f|
      .bottom-items
        .bottom-items__left-item
          = f.text_field :content, placeholder: "type a message", class: "bottom-items__left-item__message-field"
          = f.label :image, class: "bottom-items__left-item__image-icon" do
            %i.fa.fa-image
            = f.file_field :image
        = f.submit "Send", class: "bottom-items__send-btn"