.chat-main
  .chat-main__group-info
    .top-items
      .top-items__left-item
        .top-items__left-item__group-name
          = @group.name
        %ul.top-items__left-item__menber-list
          Member:
          - @group.users.each do |user|
            = user.name
      = link_to "/groups/#{@group.id}/edit", class: 'top-items__edit-btn' do
        Edit
  .chat-main__message-list
    .message-boxes
      = render @messages
  .chat-main__message-form
    = form_for [@group, @message] do |f|
      .bottom-items
        .bottom-items__left-item
          = f.text_field :content, placeholder: "type a message", autocomplete: "off", class: "bottom-items__left-item__message-field"
          = f.label :image, class: "bottom-items__left-item__image-icon" do
            = icon("far", "image", class: "icon")
            = f.file_field :image
        = f.submit "Send", class: "bottom-items__send-btn"