.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        = link_to edit_user_path(current_user), class: 'top-items__icons__icon' do
          %i.fas.fa-edit
        = link_to '#', class: 'top-items__icons__icon' do
          %i.fa.fa-cog
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group-items
        = link_to "/groups/#{group.id}/messages", class: "group-item" do 
          .group-item__group-name
            = group.name
          .group-item__new-message
            - if group.messages.last.present?
              = group.messages.last.content? ? group.messages.last.content : "画像が投稿されています"
            - else
              まだメッセージがありません
              